{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}

<section class="art-section">

<a class="back-button" href="/">BACK </a>
{% if object.image %}
    <img class="object-id" src="https://fdnd-agency.directus.app/assets/{{ object.image }}" alt="images of object in qatar " width="300px">        

{% else %}
    <p>No image availible</p>
{% endif %}
</section>

<h1>{{ object.title }}</h1>
{% render 'partials/foot.liquid' %}
