/* Mobiele versie */
.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    /* position: fixed; */
    background-color: white;
}

.qatar-logo {
    justify-content: flex-start;
}

.nav-bar {
    list-style-type:none;
    display:flex;
    justify-content: flex-end;
    column-gap: 1em;
    /* align-items: inherit; */
}

.nav-links {
    display: none;

    /* tablet versie */
    @media (min-width:960px) {
        display:inline-flex;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: black;
}

.card-container {
    list-style-type: none;
    padding: 1em;
    
    /* 520px */
    @media (min-width:500px) {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    /* Tablet versie */
    @media (min-width:750px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Desktop */
    @media (min-width:950px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.image {
    width: 100%;
    height: 200px; 
    border-radius: 8px;
    object-fit: cover;
}

